


   {{> message}}
<div class = "comment-wrapper" id="comment-field">
 
   <div class="user_pic">
        <img alt="user-pic" src="{{userStatus.profileURL}}" />
      </div>
  <div class = "comment-input" >
  <form action="/comment/{{post._id}}" method="post">
  
    <textarea required rows = "5" placeholder="Enter your comment"  cols="40" name="comment" maxlength="2000"></textarea>
    
    <button class="btn-2" type = "submit"> Submit </button>
    </form>
  
  </div>
</div>