 
  <div class="form-outline mb-4">
    <input type="text"  value="{{title}}"  name="title" placeholder="Title" class="form-control" />
  </div>

 
  <div class="form-outline mb-4">
    

    <textarea
  
     class="form-control"  name="contain"   placeholder="Write your article here..." id="form4Example3" rows="10">
     {{contain}}
     </textarea>

    
  </div>