 


<label for="heading"> Title</label>
<input type="text" autofocus value="{{title}}" placeholder="New post title"  name="title" id="">
<label for="contain">Post content </label>
<textarea placeholder="Write your post content here..."  rows="20"  name="contain">{{contain}}</textarea>





