 


<label for="heading"> Title</label>
<input type="text" required value="{{title}}"  name="title" id="">
<label for="contain"> Write your post </label>
<textarea  rows="20" required  name="contain">{{contain}}</textarea>





