<footer class="page-footer">
<div class="footer-wrapper">
<div class="footer-intro">
    <h5>About</h5>
    <p>
        P_Blog is your ultimate platform for creative writing and self-expression. Wheather you are
        a professional writer, a hobbyist, or simply looking for a space to share your thoughts and ideas, P_Blog is perfect place for you.
        <br>
        With P_Blog, you can easily create an accout and start writing blogs using <a target="_blank" href="https://www.markdownguide.org/basic-syntax/"> Markdown</a>.
        Sign up today and start writing 🙂.
    </p>
</div>
<div class="copy-right">  
    <hr>
   <P>
    Copyright &copy; 2023 All Rights Reserved by 
         P_Blog.
            </p>
          </div>

   </P>
          

</div>

</div>


</footer>