
<div class="profile-wrapper">
<div class="profile-pic">
<img src={{profileURL}}
{{!-- "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"  --}}
alt="userPic">
</div>

<div class="user-intro">
  <div class="name">
    <p>{{name}}</p>
  </div>
  <div class="email">
    <p>{{email}}</p>
  </div>
  <div class="num-post">
   <p>
{{postNum}} posts
   </p> 
  </div>
</div>
</div>