<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta Description -->
<meta name="description" content="P_Blog is the ultimate platform for creative writing and self-expression. Whether you're a professional writer or hobbyist, start writing and sharing your thoughts today with our easy-to-use Markdown blog editor.">

<!-- Meta Keywords -->
<meta name="keywords" content="P_Blog, creative writing, self-expression, blog platform, Markdown editor, share ideas, writing platform, blog for writers, write blogs, start writing, sign up today">

    <title>P_Blog</title>




    <script src="/javascript/main.js" defer></script>
  

    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/comment.css">
    <link rel="stylesheet" href="/style/editProfile.css">
      <link rel="stylesheet" href="/style/adminPannel.css">
     
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/monokai-sublime.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script> 
    <link rel="icon" href="/images/favicon.png">
</head>

<body>
    {{>nav}}

    {{{body}}}


    {{>footer}}

</body>

</html>