
.comment-wrapper{
  display:flex;
  justify-content:center;
  align-items : center;
  width: 100%;
  
}

.cmt-section{
  border-top: 1px solid var(--color1);
  width: 100%;
  padding: .5rem 0;
}
  .comment-input{
    width: 100%;
  max-width: 750px;
  padding: 0 .1rem;
  }
  .comment-input form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
  }
.comment-wrapper textarea{
 width: 100%;
 resize: none;
 padding: .5rem;
 outline: none;
  border-radius: .5rem;
  background-color: var(--color2);
}
  .comment{
    text-align: left;
    margin: .5rem 0;
    width:70%;
    border-top: var(--color1);
    
  }

  .single-cmt-card{
    font-size: 18px;
   max-width: 500px;
   margin-top: .5rem;
   word-wrap:break-word;
padding: .3rem;

  }
  
  
  .card-header{
    display:flex;
    align-items:center;
    
  }
  
  .user-name{
    display:flex;
    flex-direction:column;
  }
  .card-body{
    margin-top:.2rem;
   
  }
  
  .action-btns{
    margin-top:.2rem;
    display:flex;
    gap:.5rem;

  }
  .action-btns button{
    border:none;
    background:transparent;
    cursor:pointer;
    color: var(--primary-text-color);
  }

  .reply-cmt{
    margin-top:.5rem;
    padding: 10px;
    width:20rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-text-color);
    display: none;
    
  }
  
  .reply-cmt textarea{
    resize:none;
    border:none;
    width:100%;
    outline:none;
    cursor:text;
    background: var(--color2);
    color: var(--primary-text-color);
  }

  .reply-cmt textarea::placeholder{
    color: var(--primary-text-color);
  }
  .reply-cmt-show{
  display:block
  }

  
@media (max-width:600px) {
  .comment-wrapper{
    justify-content: flex-start;
    align-items: flex-start;
   
  }
  .comment{
    padding: 0 .2rem;
    width: 100%;
  }

}
