:root{
    --bg-color: #fff;
    --primary-text-color: #222;
    --secondary-text-color: #444444;
    --nav-bg-color:#f5f5f5;
    --logo-color: #d54d7b;
    --transition-value:0.5s;

    --color1:#e3e4e8;
    --color2:#d2d4d8;
    --color3:#f1faee;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    font-family:  "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  
 
  body {
    
    background: var(--bg-color);
    color: var(--primary-text-color);
    transition: var(--transition-value);
  
  }
  
  .dark-mode{
    --bg-color:#000;
    --primary-text-color: #fff;
    --secondary-text-color: #f5f5f5;
  --nav-bg-color:#1d1f21;
  --logo-color: #d54d7b;
  --color1:#3d3b3b;
    --color2:#5160f9;
    --color3:#101d30;

  --transition-value:0.5s;

  }
  #toggleBtn{
    cursor: pointer;
  }
  .user_pic {
    width: 50px;
    cursor: pointer;
    
  }
  
  .logo {
    color:var(--logo-color);
    font-family: "Great Vibes", cursive;
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
    
  }
  
  .logo a{
    text-decoration: none;
    color: #a19196;
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: normal;
    text-shadow: 0 1px 1px #fff;
  }
  
  .user_pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--color1);
   
    
  }
  
  nav{
    background: var(--nav-bg-color);
    display: flex;
    width: 100%;
    padding: 10px 10%;
   justify-content: space-between;
    position: relative;
  
  }
  nav ul{
    width: 100%;
    text-align: center;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
  
  }
  nav ul li a, .post_card footer a{
    color: var(--primary-text-color);
    text-decoration: none;
    background: var(--bg-color);
    display: inline-block;
    margin: 5px 4px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
  }
  
  
   .modal{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    visibility: hidden;
    
  } 
  .modal.modalOn{
    visibility: visible;
    z-index: 10;
  }
  .sub-menu-wrapper{
    width: 18rem;
    position: absolute;
    top:15%;
    right: 10%;
    max-height: 0px;
    overflow: hidden;
    transition: var(--transition-value);
    
  }
  .sub-menu-wrapper.open{
  
    max-height: 400px;
    
  }
  .sub-menu{
    background: var(--bg-color);
    padding: 20px;
    margin: 10px;
    color: var(--primary-text-color);
    z-index: 1;
  }
  .user-info{
    display: flex;
    align-items: center;
  }
  
  .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid var(--color1);
  }
  .sub-menu hr{
    width: 100%;
    height: 1px;
    background:var(--bg-color);
    margin: 15px 0 10px;
  }
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 12px 0;
    color: var(--secondary-text-color)
   
  }
  .sub-menu-link p{
    width: 100%;
  
  }
  .icons{
    color: var(--primary-text-color);
  transform: scale(1.5);
    margin-right: 20px;
  }
  .sub-menu-link img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  
  
  .sub-menu-link:hover span{
  transform: translateX(5px);
  }
  
  .sub-menu-link:hover p{
     font-weight: 600;
  }
  
  .user-picture{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 200px;
      width: 200px;
    
  }
  .posts{
    width: 100%;
    z-index: -1;
    height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  .post_card{
    min-width: 14rem;
    max-width: 25rem;
     background: var(--nav-bg-color);
    padding: 1rem;
  border-radius: 1rem;
  margin: 1.5rem;
  flex-basis: 0;
  flex-grow: 1 1 0px;
  }
  .post_card footer{
    margin-top: 0.5rem;
    width: 100%;
    flex-direction: column;
    display: flex;
  }
  .post_date{
    opacity: 0.6;
    margin: 0.5rem;
  }
 
  .post_card h4 a{
    text-decoration: solid;
    color: var(--primary-text-color);
  }


  /* Login and sign up form */
  .login-box, .singup-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  .login-box h2, .singup-box h2{
    margin-top: 0.5rem;
  }
  .login-box form, .singup-box form{
    display: flex;
    width: 20rem;
    flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .login-box form input, .singup-box form input{
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    outline: none;
    font-size: 1.3rem;
    border: 1px solid #bababa;
    border-radius: 1rem;
    transition: 0.3s all ease;
    background-color: var(--nav-bg-color);
    color: var(--primary-text-color);
  }
  .login-box form input::placeholder, .singup-box form input::placeholder{
    color: var(--nav-bg-color);
  }
  .user-box{
    height: 3rem;
    position: relative;
    margin-top: 2rem;
  }
  .user-box label{
    position: absolute;
    top: 50%;
    left: 3rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999999;
    font-size: 1.2rem;
    transition: 0.3s;

  }


  .login-box button, .singup-box button{
    width: 100%;
    border: none;
    padding: 0.7rem;
    margin: 12px 0 10px 0;
background: #002365;
color: #fff;
font-size: 17px;
cursor: pointer;
border-radius: 1rem;
  }

  .forgot-pass {
    
    text-decoration: none;
    align-self: center;
    margin: 0.5rem 0 0.5rem 0;
    
color: #d54d7b
}
.new-acc{
  text-decoration: none;
  font-size: 1.3rem;
  align-self: center;
  margin-top: 1rem;
  background-color: var(--nav-bg-color);
  padding: 0.5rem;
  border-radius: 1rem;
  color: #d54d7b
}

.login-box form input:focus~label, .singup-box form input:focus~label{
  top: 0;
  font-size: 0.8rem;
  transform: translateY(-50%);
  background-color: var(--bg-color);
  
}
.login-box form input:not(:placeholder-shown)~label, .singup-box form input:not(:placeholder-shown)~label{
  top: 0;
  transform: translateY(-50%);
  background-color: var(--bg-color);
  font-size: 0.8rem;
}

.messages{
  color: red;
  margin: 0.5rem 0 0.5rem 0;
}
.logout-btn{
  border: none;
  background-color: inherit;
  padding: 0 1rem 0 3rem;
  cursor: pointer;
}

.btn-fw{
  width: 100%;
  border: none;
  padding: 0.5rem;
  margin: 12px 0 10px 0;
background: var(--bg-color);
color: var(--primary-text-color);
font-size: 17px;
cursor: pointer;
border-radius: 1rem;
}

/* toggle modal for delete post */


.modal-wrapper{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,.6);
  visibility: hidden;
  z-index: 10;
  }
  
  .modal-contain{
  margin: auto;
    padding: 1rem;
    width: 18rem;
    border-radius: 1rem;
    background-color: var(--color1);
    
  }
  
  .show-modal{
    visibility: visible;
  
  
  }
  .btn-group{
    display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 0.5rem;
padding: 1rem;
margin: 0.5rem 0 0.5rem 0;
  }

  



.btn-primary{
  display: inline-block;
  outline: 0;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  padding: 0 20px;
  background-color: var(--color1);
}
 
  .btn-primary:hover {
      background-color: var(--color2);
  }
.btn-secondary{
  display: inline-block;
  outline: 0;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--color3);
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  padding: 0 1rem;
}

.btn-secondary:hover{
  background-color: var(--color2);
}
.btn-link{
  color: var(--primary-text-color);
  text-decoration: none;
  text-align: center;
  background: var(--color3);
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}


/* textbox style and scrolbar style */


.textbox-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.textbox-wrapper h3{
  margin: 1rem;
  text-align:center;
  text-decoration: underline;
}
.textbox-wrapper form{
  width: 85%;
  display: flex;
  flex-direction: column;

}
.textbox-wrapper label{
  align-self: flex-start;
  font-size: 1.3rem;
}
.textbox-wrapper form input,textarea{
  outline: none;
  margin: 1rem 0 1rem ;
  padding: 1rem;
  border: 1px solid var(--primary-text-color);
  background: var(--bg-color);
  font-size: 1.3em;
  border-radius: 0.5rem;
  color: var(--primary-text-color);
}


.textbox-wrapper textarea{
  resize: none;
  overflow: auto;
 
}
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey;
  border-radius: 1rem;

}

::-webkit-scrollbar-thumb{
  background-color: var(--primary-text-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #b30000;
  cursor: grab;
}

/* single post style */



.single_post_title{
  margin-top: 10px;
}
.single_post_card{
  font-size: 1.15em;
  line-height: 1.5em;
  z-index: -1;
    text-align: center;
 display: flex;
 flex-direction: column;
 width:100%;
}
.single_post_date p{
  opacity: 0.6;
}

.single_post_contain{

text-align: left;
padding: 1rem 2rem 1rem 2rem;
}
code{
  
  
  background-color: rgba(27,31,35,0.05);
  border-radius: 6px;

}

.profile-wrapper{
  display: grid;
  margin: 1rem 0 1rem 0 ;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  background-color: var(--nav-bg-color);
  
}
.profile-pic{

 padding: 0.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 
  
}
.profile-pic img{
  width: 13rem;
  height: 13rem;
  border: 2px solid var(--color1);
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.user-intro{
  
  padding: 1rem;
  
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}
.user-intro p{
  font-weight: 600;
  padding: 0.5rem;
}

.footer-wrapper{
  margin-top: 2rem;
  background-color: var(--nav-bg-color);
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.footer-wrapper h5{
  color: var(--primary-text-color);
  font-size:16px;
  text-transform:uppercase;
  letter-spacing:2px

}
.footer-intro{
  padding: 0.3rem;
}
.copy-right p{
  text-align: center;
}
.footer-wrapper hr{
  border-top-color:#bbb;
  opacity:0.5
}

/* file upload form style */
.form-wrapper h3{
  font-size: 30px;
  padding: 20px 0 20px;
text-align: center;
}

.main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
}

.main form {
  width: 16rem;
  margin: 10px 10px 0;
  text-align: center;
  }
  
  .main form > input[type=file], form > input[type=file]:before {
  display: block;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  }
  form > input[type=file] {
  position: relative;
  width: 80%;
  }
  
  .main form > input[type=file]:before {
  content: 'Choose a Photo';
  position: absolute;
font-weight: bold;
  background: var(--color2);
  width: 100%;
  top: -2px;
  left: -2px;
  border-radius: 3px;
  border: 2px solid #3c5b6d;

  }
  .main form > button[type=submit] {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 1rem;
  width: 80%;
  height: 3rem;
background-color: var(--color3);
  }
  


.image-preview img{
  height: 13rem;
  width: 13rem;
  padding: 0.5rem;
  background-color: var(--nav-bg-color);
}




@media (max-width:420px) {
  .login-box form, .singup-box form, .main form{
    width: 90%;  
  }

  .profile-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  
  .user-intro{
    align-items: center;
  }
  .sub-menu-wrapper{
    right: 0;
    width: 90%;
  }

  
}