

    
<style>

  .pageNotFound {
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
</style>


 <div class="main-wrapper">
  <div class="pageNotFound">

    <h1>404</h1>
    <p>Oops! Page not found.</p>
    <p>Return to <a href="/">homepage</a>.</p>

  </div>
  </div>