
<div class="main-wrapper">
<div class="textbox-wrapper">
  <h3>Edit post</h3>
{{#if errorMessage}}
  <div class="messages error-message">
  {{errorMessage}}
  </div>
  {{/if}}
      <div class="close-btn">

<a href="/welcome">

     <span class="close">&times;</span>
</a>
    </div>
<form action="/editPost/{{id}}"  method="post" class="form">

{{>-form}}

<!-- Submit button -->
<div class="btn-group">

 
 <button type="submit" class="btn-2">
    Save changes
  </button>



</div>


</form>

</div>


</div>





