
<div class="textbox-wrapper">
  <h3>Write a new post</h3>
{{#if errorMessage}}
  <div class="messages error-message">
  {{errorMessage}}
  </div>
<form action="/editPost/{{id}}"  method="post" class="form">

{{>-form}}

<!-- Submit button -->
<div class="btn-group">
 <a class="btn-link" href="/welcome">
 Cancle
 </a>


<button type="submit" class="btn btn-secondary">
  Save
</button>


</div>


</form>
</div>



