<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
  

</head>
<body>
    {{>nav}}
  



<div class="posts">


 {{#each posts}}
<div class="post_card">
<p>

    {{this.creator}}
   </p>
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
<div class="post_title">

 <h4>

   {{this.title}}
 </h4>
</div>
    
<form method="get" action="post/{{this._id}}">
<button class="btn" type="submit">Read More</button>
</form>
    

    </div>
{{/each}} 
</div>


 
</body>
</html>