

<div class="login-box">
 
  <div class="messages">
    {{>message}}
  </div>

  <form action="/login" method="POST">
   <h2>Login</h2>
    <div class="user-box">
      <input type="text" name="email" value="{{email}}" required>
      <label>Useremail</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>
<button type="submit">Submit</button>

 <a class="forgot-pass" href="/forgot-pass">Fogrot password?</a>
 <hr>
 <a class="new-acc" href="/signup"> Create new account</a>
  </form>

</div>