

<style>


    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 15px;
    }

    .gallery img {
      width: 100%;
      height: auto;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    .gallery img:hover {
      transform: scale(1.05);
    }

    /* modal2 */
    .modal2 {
      display: none;
      position: fixed;
      z-index: 1000;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
    }

    .modal2 img {
      max-width: 90%;
      max-height: 90%;
      border-radius: 10px;
    }

    .modal2.closeable {
      cursor: pointer;
    }

</style>




<div class="main-wrapper">


<h2>Image Gallery</h2>

<div class="gallery">
{{#each imageURL}}

 <img src="{{this}}" alt="Image" />

{{/each}}
</div>

<div class="modal2" id="modal2">
  <img id="modal2-img" src="" alt="Full Image" />
</div>

<script>
  const modal22 = document.getElementById('modal2');
  const modal2Img = document.getElementById('modal2-img');
  const galleryImages = document.querySelectorAll('.gallery img');

  galleryImages.forEach(img => {
    img.addEventListener('click', () => {
    
      modal2.style.display = 'flex';
      modal2Img.src = img.src;
    });
  });

  modal2.addEventListener('click', () => {
    modal2.style.display = 'none';
  });
</script>


</div>