<div class="main-wrapper">
  <div class="textbox-wrapper">


    <h3>New post</h3>
    {{#if errorMessage}}
    <div class="messages error-message">
      {{errorMessage}}
    </div>
    {{/if}}
    <div class="close-btn">

      <a href="/welcome">

        <span class="close">&times;</span>
      </a>
    </div>
    <form id="post-form" action="/post" method="post" class="form">



      {{>-form}}

      <!-- Submit button -->
      <div class="btn-group">

        <button value="publish" name="action" type="submit" class="btn-2">
          Publish
        </button>
        <button value="draft" name="action" class="btn-2 btn-3">Save as draft</button>
     {{> preview}}

      </div>


    </form>
  </div>
  