
<div class="main-wrapper">
  <div class="textbox-wrapper">

    
    <h3>New post</h3>
{{#if errorMessage}}
    <div class="messages error-message">
    {{errorMessage}}
    </div>
    {{/if}}
<form action="/newpost"  method="post" class="form">
  
  

 {{>-form}}

  <!-- Submit button -->
  <div class="btn-group">


    
    <form action="/welcome" method="get">
         <button class="btn" type="submit">Cancle</button>
      </form>
 


 <button type="submit" class="btn-2">
    Save
  </button>


  </div>
 
  
</form>
</div>




</div>



