
  <div class="textbox-wrapper">
    <h3>Write a new post</h3>

    <div class="messages">
    {{message}}
    </div>
<form action="/newpost"  method="post" class="form">
  
  

 {{>-form}}

  <!-- Submit button -->
  <div class="btn-group">
   <a class="btn-link" href="/welcome">
   Cancle
   </a>


 <button type="submit" class="btn btn-secondary">
    Save
  </button>


  </div>
 
  
</form>
</div>


