<div class="main-wrapper">

<div class="login-box">
  <h2>Enter new password</h2>
{{#if errorMessage}}
    <div class="messages error-message">
    {{errorMessage}}
    </div>
    {{/if}}
  <form action="/newPassword?token={{token}}&id={{id}}" method="POST">  
<div class="user-box">
<input placeholder="password" type="password" name="password"  required>
<label > Password </label>
</div>

<div class="user-box">
<input placeholder="repeat password" type="password" name="repeatPassword"  required>
<label > Repeat Password </label>
</div>
<button type="submit"> Change Password</button>
 
  </form>

</div>

</div>