<div class="main-wrapper">

<div class="login-box">
 <div class="messages">
  {{>message}}
 </div>
 
  <form action="/passport-reset" method="POST">
  <h2>Reset your password</h2>

    <div class="user-box">
     
      <input placeholder="email" type="text" name="email" value="{{email}}" required>
      <label>Email address</label>
    </div>
<button type="submit">Send link</button>

  </form>

</div>

</div>