
  <div class="main-wrapper">
<div class="single_post_card">

<div >
    <h3 class=" single_post_title">
    {{post.title}}
    
    </h3>
</div>



<p class="single_creator">

    {{post.creator}}
   </p>
<div class="single_post_date">
   
   <p>

   {{post.createdAt}}
   </p>
</div>


<div class="single_post_contain">

    {{{post.html}}}
</div>


</div>

  </div>


