

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
 

  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/monokai-sublime.min.css">

</head>
<body>
  {{>nav}}
  
<div class="single_post_card">

<div >
    <h3 class=" single_post_title">
    {{post.title}}
    
    </h3>
</div>



<p class="single_creator">

    {{post.creator}}
   </p>
<div class="single_post_date">
   
   <p>

   {{post.createdAt}}
   </p>
</div>


<div class="single_post_contain">

    {{{post.html}}}
</div>


</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>