*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

   line-height:  1.5em;
   color: white;
}
html {
    height: 100%;
  }

body{
    font-family: sans-serif;
    background-color: blueviolet;
  
}
.navbar{
  width: 100%;
  /* position: fixed; */
  flex-wrap: wrap;
  color: white;
  display: flex;
  justify-content: start;
  
  background-color: blue;
  top: 0;
}

.navbar li{

margin: 15px;
  color: white;
  list-style: none;
  background: none;
}
.btn-link{
  background-color: rgb(9, 40, 195);
}
.btn{
  color: white;
 
  text-decoration: none;
  background-color:brown;
  padding: 7px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 7px;
}



.modal{
position: fixed;
left: 0;
top:0;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
text-align: center;
background-color: rgba(0,0,0,.6);
visibility: hidden;

}

.modal-contain{

  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  background-color: blueviolet;
}

.show-modal{
  visibility: visible;
}

.posts{
  color: wheat;
  position:absolute;
  top:10%;
  width: 100%;
  margin-top: 50px;
  z-index: -1;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  

}
.post_card{

 margin: 10px;
 padding: 10px;
 border-radius:10px;
 background-color:darkgreen ;
 

}
.post_card h4{
  color: yellow;
}
.post_card a{
  text-decoration: none;
}
.post_card a:hover{
  color: rgb(202, 140, 26);
}
.post_date{
  opacity: 0.6;
  margin: 10px;
}
.post_contain{
  margin: 10px;
}
.singup-box{
    position: absolute;
    top: 12%;
    left: 20%;
    width: 50%;
   min-width: 300px;
   max-width: 700px;
    padding: 10px;
  
   z-index: -1;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;  
}
.singup-box .user-input {
    position: relative;
}
.login-box {
    position: absolute;
    z-index: -1;
    top: 13%;
    left: 20%;
    width: 50%;
   min-width: 300px;
   max-width: 800px;
    padding: 10px;
  
   
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .singup-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .btn-group{
    display: flex;
    justify-content: center;
  }

  .singup-box input{
    width: 100%;
  
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: none;
    margin-top: 10px;
  }
  .singup-box input[type = "submit"]{
      border-bottom: none;
  }
 .errorMessage{
color: #33ea25;



 }
  .singup-box label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    
  }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
form input[type = "submit"]{
    cursor: pointer;
}
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .haveaccount{
      color: white;
  }
  .haveaccount a{
    text-decoration: none;
    color: white;
  }
  .haveaccount a:hover{
      color:aqua;
  }
  .create a{
    text-decoration: none;
    color: white;
    margin-left: 60%;
    margin-top: 95%;
  }
  .create a:hover{
    color: aqua;
  }
.wrapper{
 
  color: white;

  height: auto;
  width:100% ;
 text-align: center;
}
.wrapper h3{ 
  margin-top: 40px;
  font-weight: 600;
  text-decoration: underline;
  
}
.form {

  display: flex;
  flex-direction: column;

  height: auto;
}



.form ::placeholder{
  color: rgb(222, 215, 215);
  text-align: center;
  margin: 10px;
}
.form input,textarea{
  background-color:transparent;
  
  outline:none;
  border: 1px solid #fff;
  padding:10px;
  margin: 30px;
  font-size: 1em;
  color:#fff;
  width:60%;

}
.control_btn{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

}
.btn_primary{
  background-color: blue;
font-weight: 600;

}
  .messages{
    color:#fff;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .forgot a{
    text-decoration: none;
    color: white;
    margin-left: 1%;
    margin-top: 95%;
  }
  .forgot a:hover{
    color: aqua;
  }
  h2{
    color: #fff;
  }
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -25px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  .singup-box .user-input input:focus ~ label,
  .singup-box .user-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  
.reset-box{
    position:absolute;
    left:30%;
    top:15%; 
    z-index: -1;

    min-width: 200px;
    max-width: 600px;
    padding:10px;
    border-radius:10px;
  }
  .title h2{
    margin:0;
    padding:0;
    text-align: center;
    margin-bottom:30px;
    color:#fff;
    letter-spacing:2px;
  }
  .input input{
    background-color:transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid #fff;
    padding:10px 0;
    margin-bottom:30px;
    font-size: 1em;
    color:#fff;
    width:100%;
  }
  .input{
    position:relative;
  }
  .input label{
    position:absolute;
    left:0;
    top: 0;
    color:#fff;
    transition: 1s;
  }
  
  .input input:focus ~ label, .input input:valid ~ label{
    top:-18px;
    color: #03a9f4;
    
  }
  
 input[type="submit"]{
    background-color:#03a9f4;
    padding: 10px 20px;
    margin:0;
    outline:none;
    width:100%;
    cursor:pointer;
    border-radius:5px;
  }
  


.profile{
  position: fixed;
  top: 0;
padding: 15px;
  color: white;
  width: 100%;
  background-color:  rgb(9, 40, 195);

  display: flex;
justify-content: space-between;
}

.profile-name {
  background: none;
}
.links{
  
  display: flex;

}
.main{
  z-index: -1;
  width: 100%;
  height: auto;
}



.hamburger {
  display: none;
  background-color:  rgb(9, 40, 195);

}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
 
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* singlePost style */


.single_post_title{
  margin-top: 10px;
}
.single_post_card{
  
  
  z-index: -1;
    text-align: center;
 display: flex;
 flex-direction: column;
 width:100%;
 line-height: 1.3rem;
 height: auto;
 margin: 10px;
 padding: 10px;
 
}
.single_post_date p{
  opacity: 0.6;
}
.single_post_date p,  .single_creator{
  margin: 0;
}
.single_post_contain{
  width: 90%;
text-align: left; 
height: auto;
margin-left: 2%;
line-height: 1.4rem;

}





@media(max-width:480px){
  .main{
    width: 100%;
    
  }
  .links{
    position: fixed;
    left: -100%;
    top: 3.2rem;
    flex-direction: column;
    
    background-color:  rgb(9, 40, 195);
    width: 100%;
    border-radius: 10px;
    
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  
  }
  .links.active {
    left: 0;
}
.hamburger {
  display: block;
  cursor: pointer;
}



.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
  
.form input,textarea{
  width: 80%;
}
  .singup-box{
    width: 100%;
    left: 0;
    top: 40%;
  }
  .login-box{
    width: 100%;
    left: 0;
    top: 40%;
  }
  .reset-box{
    width: 100%;
    left: 0;
    top: 50%;
  }
.posts{
  position: absolute;
  top: 10%;
  grid-template-columns: 1fr;
}
 
}






